section.home {

  h1 {
    font-size: 45px;
  }

  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.clinica {
    p {
      margin-top: 3rem;
    }
  }

  section.agendar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $blue-dark;
    background-image: url("../images/bg-agendar.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    h2 {
      color: white;
    }
    span {
      color: $blue-light;
    }
    form.form-style span{
      color: #8c8c8c;
    }
    .btn {
      color: $blue-medium;
      background-color: $blue-light;
    }
  }

  section.blog {
    a {
      transition: 0.3s ease-in-out;
    }
    a:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.7;
    }

    img {
      border-radius: 25px;
    }
    .btn {
      background-color: $blue-medium;
      &:hover {
        background-color: $blue-dark;
        color: $blue-light;
      }
    }
    h4 {
      margin-top: 1rem;
    }
  }
}
