section.home {

  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  section.clinica {
    p {
      margin-top: 3rem;
    }
  }

  section.tratamentos {
    background: $blue-dark;
    text-align: center;
    h2 {
      color: white;
    }
    span {
      color: $blue-light;
    }
    p {
      margin-top: 3rem;
      margin-bottom: 3rem;
      color: white;
    }
    li {
      margin-top: 3rem;
      margin-bottom: 3rem;

      h3 {
        margin-top: 1rem;
      }
    }
  }

  section.agendar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $blue-dark;
    background-image: url("../images/bg-agendar.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    h2 {
      color: white;
    }
    span {
      color: $blue-light;
    }
    .btn {
      color: $blue-medium;
      background-color: $blue-light;
    }
  }

  section.blog {
    h4 {
      margin-top: 1rem;
    }
  }
}
