section.tratamentos-page {
  section.tratamentos {
    background-image: url('../images/bg-tratamentos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    h1 {
      span {
        color: $blue-medium;
      }
    }
    h3 {
      color: $blue-dark;
    }
    ul {
      margin-top: -1rem;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 0;
      color: #676767;;
    }

    .icone-tratamento {
      width: 100px;
      height: 100px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    ._1 {
      background-image: url("../images/icon-tratamento-estetica-blue.png");
      transition: 0.5s ease-out;
      &:hover {
        background-image: url("../images/icon-tratamento-estetica.png");
        transition: 0.3s ease-in;
      }
    }
    ._2 {
      background-image: url("../images/icon-tratamento-ortodontia-blue.png");
      transition: 0.5s ease-out;
      &:hover {
        background-image: url("../images/icon-tratamento-ortodontia.png");
      }
    }
    ._3 {
      background-image: url("../images/icon-tratamento-clinico-blue.png");
      transition: 0.5s ease-out;
      &:hover {
        background-image: url("../images/icon-tratamento-clinico.png");
      }
    }
    ._4 {
      background-image: url("../images/icon-tratamento-implantes-blue.png");
      transition: 0.5s ease-out;
      &:hover {
        background-image: url("../images/icon-tratamento-implantes.png");
      }
    }
    ._5 {
      background-image: url("../images/icon-tratamento-outros-blue.png");
      transition: 0.5s ease-out;
      &:hover {
        background-image: url("../images/icon-tratamento-outros.png");
      }
    }
    @include breakpoint() {
      background-size: cover;
      p {
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
      ul {
        transform: scale(0.9);
      }
    }
  }

  section.tratamento {
    margin-top: 3rem;
    margin-bottom: 3rem;
    h2 {
      margin-bottom: 2rem;
    }
    h4 {
      margin-bottom: 1rem;
    }
    img {
      border-radius: 25px;
    }
    .hover-opacity-6 {
      transition: 0.5s ease-in-out;
    }
    .hover-opacity-6:hover {
      transition: 0.3s ease-in-out;
      opacity: 0.6;
    }
    .btn-voltar img:hover {
      opacity: 0.7;
    }
  }

  section.tratamento-detalhe {
    margin-top: 5rem;
    margin-bottom: 5rem;
    h2 {
      margin-bottom: 3.5rem;
    }
    h3 {
      text-transform: uppercase;
      color: $blue-dark;
      font-size: 18px;
      margin-bottom: 1.5rem;
      line-height: 1.3rem;
    }
    img {
      float: right;
      width: 100%;
      height: auto;
      border-radius: 25px;
    }
    p {
      line-height: 1.3rem;
    }
    .btn {
      background-color: $blue-medium;
      margin-top: 4rem;
      margin-bottom: 4rem;
      &:hover {
        color: white;
        background-color: $blue-dark;
      }
    }
  }
}